<html>
    <head>
        <title>epcl</title>
        <script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link href="./index.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id='bkgdiv'>
            <canvas id="canvas"> == $0
            <script src='index-bkg.js'></script>
        </div>
        

        <div id='name'>
            <div id='title'><img src='./imgs/epcl-title.png'></div>
            <div id='minor'><img src='./imgs/epcl-minor.png'></div>
        </div>

        <div id='main'>
            <div id='username'><input v-model='content' type='text' class='formal_input' placeholder='用户名'></div>
            <div id='password'><input v-model='content' type='password' class='formal_input' placeholder='密码'></div>
            <div id='toregister'><button v-on:click='userRegister' class='text_link'>没有账号? 点击此处注册</button></div>
            <div id='login'><button v-on:click='userLogin' class='formal_button'>登录</button></div>
        </div>

        <div id="registerModel" v-show='show' v-on:click='cancelRegister'>
            <div class="registerContent">
                <div id='usernameR'><input v-model='content' type='text' class='formal_input' placeholder='用户名'></div>
                <div id='passwordR1'><input v-model='content' type='password' class='formal_input' placeholder='密码'></div>
                <div id='passwordR2'><input v-model='content' type='password' class='formal_input' placeholder='确认密码'></div>
                <div id='register'><button v-on:click='userLogin' class='formal_button'>注册</button></div>
            </div>
        </div>
        

        <script src='index.js'></script>
    </body>
</html>